.text-idea {
  background-color: var(--third-color);
  color: var(--text-color-dark);
  min-height: 200px;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}

.head-title-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.edit-btn {
  border: none;
  background-color: var(--third-color);
  height: 40px;
  border-radius: 5px;
}

.edit-img {
  width: 40px;
}

.like-comment-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.like-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 5px;
  margin-left: 10px;
  background-color: transparent;
  color: var(--text-color-light);
  border: none;
}

.heart {
  width: 25px;
  margin-left: 10px;
}

.add-comment-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 5px;
  margin-left: 10px;
  background-color: transparent;
  color: var(--text-color-light);
  border: none;
}

.speech-bubble {
  width: 25px;
  margin: 0 10px;
}

.archive-idea {
  display: flex;
  justify-content: flex-end;
}

.archive-idea-btn {
  color: var(--text-color-light);
  padding: 5px;
  border-radius: 5px;
  max-width: 27vw;
  background: linear-gradient(180deg, #07588f 20%, #0180d4 95%);
}

.comment-section {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 12vw;
  width: 100%;
}

.comment-list {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 1024px) {
  .like-btn:hover,
  .add-comment-btn:hover {
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 8px;
  }

  .idea-title {
    display: flex;
    flex-wrap: nowrap;
  }

  .comment-section {
    margin-left: 28vw;
    width: 70%;
  }
}
