.new-idea-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.title-idea-div {
  text-align: center;
  padding: 15px;
}

.title-edit {
  border: none;
  width: 85%;
}

.idea-section-btn {
  background: linear-gradient(180deg, #07588f 20%, #0180d4 95%);
  color: var(--text-color-light);
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
}

.form-newIdea {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.idea-container {
  background: linear-gradient(210deg, #07588f 0%, #2680be 50%, #0180d4 90%);
  color: var(--text-color-light);
  box-shadow: 4px 7px 30px -5px rgba(0, 0, 0, 0.75);
  border: #003c64 2px solid;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  width: 80vw;
}

.content-idea {
  width: 100%;
  height: auto;
  min-height: 100px;
  outline: none;
  border-radius: 7px;
  margin-top: 10px;
  padding: 5px;
  text-align: top;
  resize: none;
  border: rgb(1, 21, 88) 2px solid;
}

.add-file {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px;
  color: var(--text-color-light);
  border-radius: 5px;
  width: 50vw;
  padding: 5px;
  border: rgb(1, 21, 88) 2px solid;
  background: linear-gradient(180deg, #07588f 20%, #0180d4 95%);

  .img-add-file {
    width: 30px;
  }

  .title-add-file {
    margin-left: 10px;
  }
}

.post-idea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .post-idea-btn {
    color: var(--text-color-light);
    padding: 5px;
    border-radius: 5px;
    width: 40vw;
    border: rgb(1, 21, 88) 2px solid;
    background: linear-gradient(180deg, #07588f 20%, #0180d4 95%);
  }
}

@media screen and (min-width: 786px) {
  .title-idea-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .title-edit {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .title-input {
    margin-left: 10px;
  }

  .idea-section-btn-div {
    display: flex;
    flex-direction: row;
  }

  .idea-section-btn {
    margin-left: 20px;
    min-width: 130px;
  }

  .add-file {
    margin-left: 20px;
    width: 30vw;
  }

  .post-idea {
    justify-content: space-between;
    flex-direction: row;
    margin: 0 20px;

    .post-idea-btn {
      width: 20vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .idea-section {
    margin-top: 40px;
  }

  .idea-container {
    width: 100vw;
  }

  .idea-container {
    max-width: 50%;
    margin-top: 20px;
  }

  .add-file {
    width: 20vw;
    max-width: 300px;
    margin: 0;
    cursor: pointer;
  }

  .post-idea {
    padding: 10px;
    .post-idea-btn {
      width: 15vw;
    }
  }
}
