// List user

.user-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  }

.user-list-success {
  background-color: green;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.user-list-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-list-row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-list-card {
  width: 300px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.user-card-image-container {
  height: 200px;
  overflow: hidden;
}

.user-list-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.user-list-card-details {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-list-card-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-list-card-email {
  font-size: 16px;
  margin-bottom: 10px;
}

.user-list-card-dob {
  font-size: 16px;
  margin-bottom: 10px;
}

.user-list-card-link {
  margin-top: 10px;
  padding: 10px;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

// Add user 

.add-user-container {
  display: flex;

}

.form-signup {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-signup-label {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.form-signup-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-invalid {
  display: block;
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.signup-hide {
  display: none;
}

.form-signup-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-signup-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.section-add-user {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

// Edit user

.update-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px;
  font-weight: bold;
}

input {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1rem;
}

button {
  margin: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}


