.userListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}

.userListItem {
  width: 30%;
  margin-bottom: 20px;
}

.userDetails {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
}

.userDetails img {
  width: 100%;
  border-radius: 50%;
}

.userDetails .name {
  font-weight: bold;
  margin-top: 10px;
}

.userDetails .email,
.userDetails .dateOfBirth {
  margin-top: 5px;
}
