* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #07588f;
  --second-color: #0097fb;
  --text-color: #e2efff;
}

.AppHeaderNav {
  display: block;
}

/*@media screen and (max-width: 768px) {
  .AppHeaderNav {
    display: none;
  }
}

*/

/* Css de base de page

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.HeaderNavbar {
  height: 50px;
  background-color: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
}

.HeaderLinks {
  list-style-type: none;
  background-color: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.li {
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.btn {
  display: none;
}
*/
