@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap%22");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #07588f;
  --second-color: #0097fb;
  --text-color: #e2efff;
}
