.form-signup {
  display: flex;
  flex-direction: column;
}

.form-signup-label {
  margin: 5px 0;
}

.form-signup-input {
  margin-left: 5px;
  padding-left: 2px;
  border-radius: 5px;
  height: 25px;
}

.form-signup-btn {
  width: 150px;
  height: 25px;
  margin: 20px auto;
}

.signup-hide {
  display: none;
}

.signup-invalid {
  display: inline-block;
}
